<div class="admin-page">
  <center>
    <h1>Admin page</h1>
  </center>
  <br />
  <form action="/logout" method="get">
    <button class="logout-button">Logout</button>
  </form>
  <div class="container">
    <div class="row">
      <a href="/form-report"> Write Report </a>
    </div>
    <div class="row">
      <a href="/find_ticket">Find Ticket</a>
    </div>
      <div class="row">
      <a href="/create_user">Create user</a>
    </div>
    <br />
    <div class="row">
      <div class="col-6">
      </div>
      <div class class="col-6">
      </div>
    </div>
  </div>
</div>
