


<form action="/find_ticket" method="post">
  <label for="ticketId">Ticket ID:</label>
  <input type="text" id="ticketId" name="ticketId" required>
  <button type="submit">Find Ticket</button>
</form>
