


<div class="find-ticket-container">
  <form action="/search_ticket" method="post" class="find-ticket-form">
    <label for="patientId" class="ticket-label">Patient ID:</label>
    <input type="text" id="patientId" name="patientId" class="patient-input" required>
    <button type="submit" class="ticket-button">Find Patient Data</button>
  </form>
</div>
