


<div class="find-ticket-container">
  <form action="/find_ticket" method="post" class="find-ticket-form">
    <label for="ticketId" class="ticket-label">Ticket ID:</label>
    <input type="text" id="ticketId" name="ticketId" class="ticket-input" required>
    <button type="submit" class="ticket-button">Find Ticket</button>
  </form>
</div>
