<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Patient</title>
    </head>
    <body>
        <br/>
        <center>
        <h2>Patient</h2> 
        </center>
        <div class="container d-flex justify-content-center">

            <div class="col-7">
                {{#each tickets}}
                    <div style="margin-bottom: 1rem;" class="row">
                        <div class="card">
                            #Ticket 1 -
                            <span style="color: gray;"> Lorem ipsum dolor sit amet consectetur....</span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    </body>
</html>