<div class="container">
    <form action="#" method="post">
        <input class="form-control" name="name" placeholder="Patient name" type="text" />
        <input class="form-control" name="ID" placeholder="Patient ID" type="text" />
        <input class="form-control" name="type" placeholder="Type" type="text" />
        <input class="form-control" name="Description" placeholder="Description" type="text" />
    </form>
</div>